<div class="form-wrap">
    <div class="row">
        <div class="col-md-12">
            <form action="" method="post" accept-charset="utf-8" class="form" role="form">
                {% include 'error.html' %}
                {% csrf_token %}

                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <input type="text" name="first_name" value="{{ user.first_name }}" class="form-control" placeholder="First Name" required />
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <input type="text" name="last_name" value="{{ user.last_name }}" class="form-control" placeholder="Last Name"  required />
                    </div>
                </div>
                <input type="text" name="email" value="{{ user.email }}" class="form-control" placeholder="Email" required = "" />
                <input type="text" name="phone_number" value="{{ user.phone_number }}"  class="form-control" placeholder="Phone Number" required = "" />
                {% if not logged_in_user %}
                    <input type="password" name="password" class="form-control password" placeholder="Password"  required = "" />
                    <input type="password" name="confirm_password" class="form-control confirm-password" placeholder="Confirm Password" required = "" />
                {% endif %}
                <br />
                {% if not logged_in_user or logged_in_user.is_patient %}
                    <label>Insurance Information</label>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <input type="text" name="company" value="{{ user.insurance.company }}" class="form-control" placeholder="Company"  />
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <input type="text" name="policy" value="{{ user.insurance.policy_number }}" class="form-control" placeholder="Policy Number"  />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col xs-6 col-md-6">
                            <label>Allergies</label>
                            <textarea name="allergies" class="form-control" placeholder="Pollen, Ammoxicillin, ...">{{ user.medical_information.allergies }}</textarea>
                        </div>
                        <div class="col xs-6 col-md-6">
                            <label>Biological Sex</label>
                            {% for sex in sexes %}
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="sex" id="{{ forloop.counter }}" value="{{ sex }}" checked>
                                        {{ sex }}
                                    </label>
                                </div>
                            {% endfor %}
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="radio" name="sex" aria-label="...">
                                </span>
                                <input type="text" class="form-control" aria-label="other-sex" placeholder="Other (specify)">
                            </div>
                        </div>
                    </div>
                    <br />
                {% endif %}
                <label>Birth Date</label>
                <div class="row">
                    <div class="col-xs-4 col-md-4">
                        <select name="month" class="form-control">
                            {% for month in months %}
                                <option {% if user.date_of_birth.month == forloop.counter %}selected="selected"{% endif %} value="{{ forloop.counter }}">{{ month }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <select name="day" class="form-control">
                            {% for day in day_range %}
                                <option {% if user.date_of_birth.day == day %}selected="selected"{% endif %} value="{{ day }}">{{ day }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <select name="year" class="form-control">
                            {% for year in year_range %}
                                <option {% if user.date_of_birth.year == year %}selected="selected"{% endif %} value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br />
                {% if not logged_in_user or logged_in_user.is_superuser %}
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Account Type</label>
                            <select name="group" class="form-control">
                                {% for group in groups %}
                                    <option value="{{ group.pk }}" {% if user.group == group %}selected="selected"{% endif %}>{{ group.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-8">
                            <label>Hospital</label>
                            <select name="hospital" class="form-control">
                                {% for hospital in hospitals %}
                                    <option value="{{ hospital.pk }}" {% if user.hospital == hospital %}selected="selected"{% endif %}>{{ hospital.name }} at {{ hospital.address }}, {{ hospital.city }}, {{ hospital.state }} {{ hospital.zipcode }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <br />
                {% endif %}

                <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">
                    Save
                </button>
            </form>
        </div>
    </div>
</div>