{% extends 'base.html' %}

{% block title %}Sign In{% endblock %}

{% block content %}
<div class = "signin-wrap">
  <form class = "sign-in" action="" method="post">
      <h2 class = "heading">Please Sign In</h2>
      <input type = "text" class = "form-control" name = "username" placeholder = "Username" required = "" autofocus = "" />
      <input type = "password" class = "form-control" name = "password" placeholder = "Password" required = ""/>
      <label class = "checkbox">
          <input type = "checkbox" value = "remember-me" id = "rememberMe" name = "rememberMe"/> Remember Me
      </label>
      <button class = "btn btn-primary" type = "submit">Sign In</button>
      <button class = "btn btn-info" type = "button">Sign Up</button>
  </form>
</div>
{% endblock %}

