{% extends 'base.html' %}
{% block title %}System Logs{% endblock %}
{% block content %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead></thead>
            <tbody>
            {% for log in logs %}
                <tr>
                    <td><a href="{% url 'health:profile' log.user.pk %}">{{ log.user.get_full_name }}</a> ({{ log.user.email }}) {{ log.action }}</td>
                    <td>{{ log.date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}