<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'health:index' %}">HealthNet</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{% ifequal navbar 'home'%}active{% endifequal %}"><a href="{% url 'health:index' %}">Home</a></li>
                <li class="{% ifequal navbar 'schedule'%}active{% endifequal %}"><a href="{% url 'health:schedule' %}">Schedule</a></li>
                <li class="{% ifequal navbar 'prescriptions'%}active{% endifequal %}"><a href="{% url 'health:prescriptions' %}">Prescriptions</a></li>
                {% if user.is_superuser %}
                <li class="{% ifequal navbar 'logs'%}active{% endifequal %}"><a href="{% url 'health:logs' %}">System Logs</a></li>
                {% endif %}
            </ul>
        {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">Signed in as {{ user.get_full_name }}</p></li>
                <li><a href="{% url 'health:logout' %}">Sign Out</a></li>
            </ul>
        {% endif %}
        </div>
    </div>
</nav>