{% extends 'base.html' %}
{% block title %}Prescriptions{% endblock %}
{% block content %}
    {% if user.active_patients %}
        <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                </div>
            </div>
        </div>
        <div class="table-responsive">
            {% if user.can_add_prescription %}
                <button class="btn btn-primary" data-toggle="modal" data-target="#edit" data-remote="{% url 'health:add_prescription' %}">Add a Prescription</button>
            {% endif %}
            <hr />
            {% for user in user.active_patients %}
                {% if user.prescription_set.all %}
                    <table class="table table-bordered table-striped">
                        <legend>Prescriptions for {% include 'user_link.html' %}</legend>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Dosage</th>
                            <th>Directions</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for prescription in user.prescription_set.all %}
                            <tr>
                                <td>{{ prescription.name }}</td>
                                <td>{{ prescription.dosage }}</td>
                                <td>{{ prescription.directions }}</td>
                                <td><p title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-remote="{% url 'health:edit_prescription' prescription.pk %}" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                                <td><p title="Delete"><a class="btn btn-danger btn-xs" data-title="Delete" href="{% url 'health:delete_prescription' prescription.pk %}"><span class="glyphicon glyphicon-trash"></span></a></p></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="text-center">
                        <h2> No prescriptions for {% include 'user_link.html' %}</h2>
                    </div>
                {% endif %}
                <hr />
            {% endfor %}
        </div>
    {% else %}
        <h2 class="text-center"> No active patients in hospital. </h2>
    {% endif %}
{% endblock %}