{% extends 'base.html' %}
{% block title %}Prescriptions{% endblock %}
{% block content %}
<div class="table-responsive">
<table class="table table-bordered table-striped" data-cache="false" data-height="299">
    <thead>
        <tr>
            <th>Name</th>
            <th>Dosage</th>
            <th>Directions</th>
        </tr>
    </thead>
    <tbody>
    {% for prescription in user.prescription_set.all %}
        <tr>
            <td>{{ prescription.name }}</td>
            <td>{{ prescription.full_dosage }}</td>
            <td>{{ prescription.directions }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}