{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Sign Up{% endblock %}
{% block legend %}Sign Up{% endblock %}

{% block extra %}
    <link rel="stylesheet" href="{% static 'signup.css' %}">
{% endblock %}

{% block content %}
    <div class="form-wrap">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form action="" method="post" accept-charset="utf-8" class="form" role="form">
                    {% include 'edit_user.html' %}
                    <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">
                        Create My Account
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

