
.form-wrap {
    margin-top: 0px;
    margin-bottom: 80px;
}

.form-control, .checkbox {
    position: relative;
    height: auto;
    padding: 10px 20px;
    font-size: 1.5rem;
@include box-sizing(border-box);
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

td {
    text-decoration: none;
}

table a:not(.btn), .table a:not(.btn) {
    text-decoration: none;
}

form {
    min-width: 320px;
    max-width: 768px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 900px;
}