
body {
    background: #eee !important;
    padding-top: 70px;
}

legend {
    color: #141823;
    font-size: 25px;
    font-weight: bold;
}

.form-wrap {
    margin-top: 80px;
    margin-bottom: 80px;
}

.heading {
    text-align: center;
}

.form-control, .checkbox {
    position: relative;
    height: auto;
    padding: 10px 20px;
    font-size: 1.5rem;
}
