
legend {
    color:#141823;
    font-size:25px;
    font-weight:bold;
}

.navbar-default .navbar-brand{
    color:#fff;
    font-size:30px;
    font-weight:bold;
}

.form .form-control {
    margin-bottom: 10px;
}

@media (min-width:768px) {
    #home{
        margin-top:50px;
    }

    #home .slogan {
        color: #0e385f;
        line-height: 29px;
        font-weight:bold;
    }
}